/* $primary-color: #F99F61;
$secondary-color: #539EA5;
$tertiary-color: #A8D4D8;
$tertiary-color-light: #EEF6F6;
$main-white: #ffffff;
$text-color: #444444; */

body {
    padding-bottom: 50px;
    line-height: 2rem;
}

img {
    max-width: 100%;;
}

.highlight {
    background-color: rgb(174, 248, 230);
    padding: 7px 5px;
}

h1, h2, h3, h4 {
    font-family: 'Ubuntu', serif;
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
    line-height: 3rem;
}

h2 {
    font-size: 2.3rem;
    line-height: 2.5rem;
}

h3 {
    font-size: 2.1rem;
    line-height: 2.3rem;
}

h4 {
    font-size: 2rem;
    line-height: 2.2rem;
}

p, li {
    font-size: 1.2rem;
    line-height: 2rem;
}

blockquote {
    background-color: #EEF6F6;
    border-left: solid 10px #539EA5;
    margin: 0;
    padding: 20px;
}